html {
	height: 100%;
}

html, body {
	height: 100%;
	background-color: #fff !important;
	box-sizing: border-box;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #555;
    line-height: 1.5em;
}

body {
	margin: 0;
	line-height: 20px;
	color: #333;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	width: 100%;
	height: 9vh;
	background-color: #e44232;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	margin-left: 100px;
}

.user-info {
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
	height: 100%;
	width: 22%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin-right: 100px;
}

.user-info p {
	color: #FFD15B;
}

.user-info a {
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	height: 100%;
	padding: 24px 15px;
	text-decoration: none;
	color: #fff;
}

.user-info a:hover {
	border-bottom: 2px solid #FFD15B;
	color: black;
}

.content {
	width: 100%;
	height: 91vh;
	display: flex;
	
}

.sidebar {
	width: 20%;
	background-color: #fafafa;
	border-right: 1px solid #dddddd;
	display: flex;
	flex-direction: column;
	padding-top: 0px;
}

.tab {
	padding: 16px 50px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
}

.tab:hover {
	color: #e44232;
	background-color: #fff;
}

.selected-tab {
	padding: 3px 50px;
	background-color: #fff;
	color: #e44232;
	font-weight: 600;
	font-size: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	margin-right: 10px;
}

.divider {
	margin: 10px 35px 15px 35px;
	border-bottom: 1px solid #dddddd;
}