html {
	height: 100%;
}

html, body {
	height: 100%;
	background-color: #fff !important;
	box-sizing: border-box;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #555;
    line-height: 1.5em;
}

body {
	margin: 0;
	line-height: 20px;
	color: #333;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	width: 100%;
	height: 8vh;
	background-color: #e44232;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-left: 50px;
	width: 9%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.header h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
}

.user-info {
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
	height: 100%;
	width: 18%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin-right: 100px;
}

.user-info p {
/* 	color: #FFD15B; */
	color: #fff;
}

/* .user-info span { */
/* 	font-size: 18px; */
/* 	font-weight: 400; */
/* } */

.user-info a {
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	height: 100%;
	padding: 24px 15px;
	text-decoration: none;
	color: #fff;
}

.user-info a:hover {
	border-bottom: 2px solid #FFD15B;
	color: black;
}

.content {
	width: 100%;
	height: 92vh;
	display: flex;
	
}

.sidebar {
	width: 25%;
	background-color: #fafafa;
	border-right: 1px solid #dddddd;
	display: flex;
	flex-direction: column;
	padding-top: 0px;
}

.tab {
	padding: 16px 50px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
}

.tab:hover {
	color: #e44232;
	background-color: #fff;
}

.selected-tab {
	padding: 3px 50px;
	background-color: #fff;
	color: #e44232;
	font-weight: 600;
	font-size: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	margin-right: 10px;
}

.size {
	font-size: 12px;
	color: #c6c5c7;
	margin-left: 5px;
}

.divider {
	margin: 10px 35px 15px 35px;
	border-bottom: 1px solid #dddddd;
}




.main-content {
	padding: 20px 0 0 50px;
	width: 75%;
}

.main-content h1 {
	margin-bottom: 30px;
}

.task-div, .task-div:visited {
	text-decoration: none;
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
}

.task-div:hover {
	background-color: #fafafa;
}

.task-div-task, .task-div-task:visited {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

.task-div-task span {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	color: #8d8f90;
}

.task-div-assignee, .task-div-assignee:visited {
	font-style: normal;
	font-weight: 300;
	color: black;
}

.task-div-assignee span {
	font-weight: 600;
}

.task-divider {
	width: 90%;
	margin: 10px 35px 15px 20px;
	border-bottom: 1px solid #dddddd;
}

.assigned-header {
	margin-top: 60px;
}



.form {
	margin: 30px 0;
	width: 50%;
}

.input-box {
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 20px;
	line-height: 20px;
	padding: 7px 5px;
}

.input-box-select {
	width: 102%;
	height: 38px;
}

.errormessage {
	color: #e44232;
}

.btn {
	width: 102%;
	margin-top: 5px;
	background-color: #e44232;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
	background-color: #b82519;
}



.detail-line {
	margin-left: 30px;
}
.detail-line-with-icon {
	display: flex;
}
.detail-line-category {
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.detail-line-deadline {
	margin-left: 15px;
}
.detail-line-priority {
	display: flex;
	align-items: center;
	margin-left: 28px;
}
.detail-line-completed {
	display:flex;
	align-items: center;
	margin-left: 5px;
}
.detail-line .bold {
	font-weight: 600;
}
.action-buttons {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.edit-btn {
	width: 150px;
	margin-top: 5px;
	background-color: #7e7e7f;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.edit-btn:hover {
	background-color: #a7a6a9;
}
.delete-btn {
	width: 150px;
	margin-top: 5px;
	background-color: #e44232;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.delete-btn:hover {
	background-color: #b82519;
}
.complete-btn {
	width: 150px;
	margin-top: 5px;
	background-color: #068527;
	color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.complete-btn:hover {
	background-color: #1ea917;
}